#cardList {
    background-color: #212121;
    color: #ddd;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 81vh;
    min-height: 81vh;
}

#cardBody {
    overflow: auto;
    display: flex;
    justify-content: center;
}

#list {
    margin: 10px 0;
    width: 100%;
    min-height: 100%;
}

#list .layerItem {
    color: #ddd;
    background-color: #212121;
    border-color: #424242;
    
}
