#visualizacaoMapas {
    color: #212121;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    min-height:100%;
    height: 100%;
}

#visualizacaoRow {
    max-height:100%;
    display: flex;
    align-items: stretch;
}
#toolsCard {
    background-color: #212121;
    height: 9%;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-button{
    background-color: #302f2f;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: none;
    padding: 5px 20px;
    color: #ddd;
}
.options-button span{
    margin-right: 10px;
}

#cardListLayers{
    min-height: 90%;
    max-height: 90%;
}

.wrapper-button-select{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}