.App {
    height: 100vh;
    width: 100vw;
    text-align: center;
    /* background-color: #282c34; */
    display: flex;
    flex-flow: column;
}

#contentWrapper{
    max-height: 90%;
}